#titulo{
   color: rgb(239,60,92);
   font-size:50px;
   margin: 100px 0px 0% 10%;
}
#line{
   width: 83%;
   margin-left: 10%;
}
.proj{
   text-align: center;
   width: 250px;
   height: 250px;
   display: inline-block;
   margin-left: 15%;
   background-size: cover;
}

.proj a{
   margin-top: 0%;
   padding:0px 100% 200px 100% ;
   padding-top: 0px;
   text-decoration: none;
}

.proj a{
   opacity: 0;
   color: transparent;
   text-decoration: none;
   transition-duration: .3s;
}
.proj a:hover{
   background:rgba(22,22,22,.5);
   background-size: cover;
   color: white;
   opacity: 1;
}
.proj h1{
   margin-top: 100px;
   background-color: transparent;
}